.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 40px;

    &-icon {
        width: 25px;
        height: 25px;
        color: white;
        cursor: pointer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        
        &:hover {
            animation-name: bounce-2;
            animation-timing-function: ease;
        }
    } 
    &-title {
        color: white;
    }
}

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}